@font-face {
  font-family: "LatoRegular";
  src: local("LatoRegular"),
    url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoSemiBold";
  src: local("LatoSemiBold"),
    url("../assets/fonts/Lato-SemiBold.ttf") format("truetype");
}

:root {
  --primary: #0857a1;
  --secondary: #6ad7fe;
  --selected_menu_item: #6e98bf;
  --light_grey: #f9f9f9;
  --grey: #e6e6e6;
  --dark_grey: #707070;
  --text: #3e3e3e;
  --white: #ffffff;

  --rose: #f8838e;
  --yellow: #eab32b;
  --peach: #d8a8a5;
  --cyan: #41bcd8;
  --lilac: #c9b6e8;

  --font_family_primary: "LatoRegular";
  --font_family_bold: "LatoSemiBold";
}
