@import url("constants.css");
/*------------------------------------------------------------------
[Main Stylesheet]
Project:    AgileAP
Version:    1.0.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]
    1. Default tags
    2. Text styles
*/

/* #region Default tags*/
html,
body {
  height: 100%;
  background-color: var(--light_grey);
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--white);
}

a,
p {
  font-family: var(--font_family_primary);
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: var(--font_family_bold);
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
  color: var(--text);
}

a {
  font-size: 16px;
  cursor: pointer;
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 23px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

h1 {
  font-size: 35px;
  line-height: 42px;
}

/* #endregion */

/* #region Text styles*/
.bold {
  font-family: var(--font_family_bold);
}

.white {
  color: var(--white);
}
/* #endregion */
